.app {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  @media screen and (max-width: 768px) {
    padding: 20px;
  }

  @media screen and (max-width: 400px) {
    padding: 10px;
  }

  &__layout {
    width: 100%;
    max-width: 754px;
    margin-top: 50px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 232px 1fr;
  gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
